.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header img{
    width: 30%;
    margin-top: 20px;
    margin-bottom: -30px;
    object-fit: cover;
}

.enunciado-punto-cinco{
    margin: 5%;
}
.enunciado-punto-cinco p{
    text-align: justify;
}