.secrets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: #222;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}
.secrets:hover {
    background: #385036;
}
.secrets img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
.secrets p {
    margin: 0;
    font-size: 18px;
}
.secrets a {
    text-decoration: none;
    color: white;
}

.header h1{
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 10px;
}
audio{
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
}
.scroll_div{
    width: 90%;
    max-width: 600px;
    height: 5em; 
    overflow-y: auto;
    background: #222;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    margin: 20px auto;
}

.explicacion-secret{
    margin: 20px;
}
.explicacion-secret p{
    text-align: justify;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
}
label {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: justify;
}
input {
    padding: 8px;
    width: 80%;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: #333;
    color: white;
}

.next-page{
    width: auto;
    margin: 0 auto ;
    border: none;
    padding: 10px 15px;
    background: #555;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.next-page:hover{
    background:#385036;
}

#next-secret {
    width: auto; 
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: #555;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: not-allowed;
    font-size: 16px;
    transition: background 0.3s;
}

#next-secret.enabled {
    background: #28a745;
    cursor: pointer;
}





