h3 {
    margin-bottom: 20px;
}

.pistas_dos{
    flex-wrap: wrap;
}
.documentos-secret2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
.documentos-secret2 img {
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo menos oscuro */
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: #333; /* Fondo blanco para mejorar la lectura */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* Máximo ancho del modal */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content p{
    text-align: justify;
}

.modal img {
    width: 90%;
    max-height: 80vh;
    border-radius: 10px;

}

.modal-content .close {
    background: #444;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}


.pistas_dos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    gap: 10px; /* Añade espacio entre los botones */
}

.pistas_dos button {
    background: #333;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}
.pistas_dos button:hover {
    background: #555;
}
